<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.westcatr.emergency.business.mapper.CityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.westcatr.emergency.business.entity.City">
        <id column="id" property="id" />
        <result column="unit_name" property="unitName" />
        <result column="latitude" property="latitude" />
        <result column="longtitude" property="longtitude" />
        <result column="h3_id" property="h3Id" />
    </resultMap>

</mapper>
