<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.westcatr.emergency.business.mapper.JudgeInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.westcatr.emergency.business.entity.JudgeInfo">
        <id column="id" property="id" />
        <result column="judge_based" property="judgeBased" />
        <result column="judge_degree" property="judgeDegree" />
    </resultMap>

</mapper>
